<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coronavirus Tracker Test app</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" 
    	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
    	crossorigin="anonymous">
</head>

<body >
	<div class="container">
		<div class="jumbotron">
		  <h1 class="display-4">Coronavirus Tracker</h1>
		  <p class="lead">Testowa aplikacja do śledzenia ilości zarażonych osób na koronawirusa.</p>
		  <div class="lead">
		  	<h3>Suma ogólna:</h3>
		  	<div>
		  		Zarażonych: <b><span th:text="${#numbers.formatInteger(totalConfCases, 3,'DEFAULT')}"></span></b>,  
		  		Zmarłych: <b><span th:text="${#numbers.formatInteger(totalDeathCases, 3,'DEFAULT')}"></span></b>, 
		  		Wyleczonych: <b><span th:text="${#numbers.formatInteger(totalRecovCases, 3,'DEFAULT')}"></span></b>
		  	</div>
		  	<p><h3>Suma nowych przypadków:</h3></p>	  
		  	<div>
		  		Zarażonych: <b><span th:text="${#numbers.formatInteger(totalConfNewCases, 3,'DEFAULT')}"></span></b>,  
		  		Zmarłych: <b><span th:text="${#numbers.formatInteger(totalDeathNewCases, 3,'DEFAULT')}"></span></b>, 
		  		Wyleczonych: <b><span th:text="${#numbers.formatInteger(totalRecovNewCases, 3,'DEFAULT')}"></span></b>
		  	</div>
		  <hr class="my-4">
		  <p>Dane pobierane z CSSE Johns Hopkins University.</p>
		  <a class="btn btn-primary btn-lg" href="https://github.com/CSSEGISandData/COVID-19" role="button">Źródło</a>
		  <div>
			Przejdź do tabeli:
				<a class="btn btn-primary btn-lg" href="/conf" role="button">Zarażeni</a>
				<a class="btn btn-primary btn-lg" href="/death" role="button">Zmarli</a>
				<a class="btn btn-primary btn-lg" href="/recov" role="button">Wyleczeni</a>
		  </div>
		</div>	
	</div>	
</body>
</html>